<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestão CTe | A melhor maneira de se fazer Gestão de Transportes</title>
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href={{ "/assets/css/bootstrap.min.css" | relative_url }} rel="stylesheet">
    
    <!-- Owl Carousel Assets -->
    <link href={{ "/assets/css/owl.carousel.css" | relative_url }} rel="stylesheet">
   
    <link href= {{ "/assets/css/owl.theme.css" | relative_url }} rel="stylesheet">

 
    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href= {{ "/assets/css/Pe-icon-7-stroke.css" | relative_url }}>

    <!-- Font Awesome -->
    <link href={{ "/assets/css/font-awesome.min.css" | relative_url }} rel="stylesheet">


    <!-- PrettyPhoto -->
    <link href={{ "/assets/css/prettyPhoto.css" | relative_url }} rel="stylesheet">
    
    <!-- Favicon -->
    
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href={{ "/assets/css/style.css" | relative_url }} rel="stylesheet">

    <link href={{ "/assets/css/animate.css" | relative_url }} rel="stylesheet">
    <!-- Responsive CSS -->
    <link href={{ "/assets/css/responsive.css" | relative_url }} rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>